<%- include('./partials/navbar.ejs', {current: 'admin' }); %>

<body>
  <%- include('./partials/header.ejs', {current: 'admin'}); %>
  <div class="container">
    <div class="tm-main-content">
      <section class="tm-margin-b-l">
        <header>
          <h2 class="tm-main-title">Welcome to our application</h2>
        </header>

        <a href="/">add a post</a>
      </section>
    </div>
  </div>
</body>
