<%- include('./partials/navbar.ejs', {current: 'home' }); %>
<body class="bodyStyle">
<div class="container mt-4 mb-4">

    <%- include('partials/header', {current: 'home' }) %>

    <h1 class="text-center">Welcome to our application</h1>
</div>
<section class="aboutSectionStyle">
</section>

<div class="container mt-4 ">
    <div class="container d-flex flex-wrap pt-4 pb-4" id="aboutContainer">
        <div class="card " style="width: 15rem; ">
            <img class="card-img-top" src="/images/contactMe.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="https://github.com/Acyony" target="_blank">Check my profile out!</a>
            </div>
        </div>

        <div class="card" style="width: 15rem; ">
            <img class="card-img-top" src="/images/contactMe.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="https://github.com/Acyony" target="_blank">Check my profile out!</a>

            </div>
        </div>

        <div class="card" style="width: 15rem; ">
            <img class="card-img-top" src="/images/contactMe.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="https://github.com/Acyony" target="_blank">Check my profile out!</a>

            </div>
        </div>

        <div class="card" style="width: 15rem; ">
            <img class="card-img-top" src="/images/contactMe.png" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="https://github.com/Acyony" target="_blank">Check my profile out!</a>

            </div>
        </div>
    </div>
</div>
</body>