<%- include('partials/header', {current: 'login' }) %>
<%- include('./partials/navbar.ejs', {current: 'login' }); %>
    <div id="login-section-style" class="tm-main-content mt-4 mb-4">
        <section class="row tm-margin-b-l">
            <div class="col-md-6 col-sm-12 mb-md-0 mb-5 tm-overflow-auto">
                <h2 class="tm-blue-text tm-margin-b-p">Login</h2>
                <div class="mr-lg-5">
                    <!-- contact form -->
                    <form action="#" method="post" class="tm-contact-form">
                        <div class="form-group">
                            <input
                                    type="text"
                                    id="login_username"
                                    class="form-control"
                                    placeholder="Username"
                                    required
                            />
                        </div>
                        <div class="form-group">
                            <input
                                    type="password"
                                    id="login_password"
                                    class="form-control"
                                    placeholder="password"
                                    required
                            />
                        </div>

                        <button
                                id="loginBtn"
                                type="submit"
                                class="tm-btn tm-btn-blue float-right"
                        >
                            Login
                        </button>
                    </form>
                </div>
            </div>

            <div class="col-md-6 col-sm-12 mb-md-0 mb-5 tm-overflow-auto">
                <h2 class="tm-blue-text tm-margin-b-p">Register</h2>
                <div class="mr-lg-5">
                    <!-- contact form -->
                    <form id="register-form" action="#" method="POST" class="tm-contact-form">
                        <div class="form-group">
                            <input
                                    type="text"
                                    id="register_name"
                                    class="form-control"
                                    placeholder="Type your FullName"
                                    required
                            />
                        </div>
                        <div class="form-group">
                            <input
                                    type="email"
                                    id="register_email"
                                    class="form-control"
                                    placeholder="email"
                                    required
                            />
                        </div>

                        <div class="form-group">
                            <input
                                    type="text"
                                    id="register_username"
                                    class="form-control"
                                    placeholder="username"
                                    required
                            />
                        </div>
                        <div class="form-group">
                            <input
                                    type="password"
                                    id="register_password"
                                    class="form-control"
                                    placeholder="password"
                                    required
                            />
                        </div>
                        <div class="form-group">
                            <input
                                    type="password"
                                    id="register_repassword"
                                    class="form-control"
                                    placeholder="re-password"
                                    required
                            />
                        </div>

                        <button
                                id="registerBtn"
                                type="submit"
                                class="tm-btn tm-btn-blue float-right"
                        >
                            register
                        </button>
                    </form>
                </div>
            </div>
        </section>

        <section class="media tm-highlight tm-highlight-w-icon">
            <div class="tm-highlight-icon">
                <i class="fa tm-fa-6x fa-meetup"></i>
            </div>

<!--            <div class="media-body">-->
<!--                <header>-->
<!--                    <h2>Need Help?</h2>-->
<!--                </header>-->
<!--                <p class="tm-margin-b">-->
<!--                    Curabitur magna tellus, condimentum vitae consectetur id, elementum-->
<!--                    sit amet erat. Phasellus arcu leo, sagittis fringilla nisi et,-->
<!--                    pulvinar vestibulum mi. Maecenas mollis ullamcorper est at-->
<!--                    dignissim.-->
<!--                </p>-->
<!--                <a href="" class="tm-white-bordered-btn">Live Chat</a>-->
<!--            </div>-->
        </section>
    </div>

<!-- messages modal start -->

<div id="modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" id="modalHeader">
                <h5 class="modal-title" id="modalTitle">Modal title</h5>
                <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="modalContent">Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    const registerBtn = document.getElementById("registerBtn");
    registerBtn.addEventListener("click", async (e) => {
        var form = document.getElementsByClassName("tm-contact-form");

        e.preventDefault();
        const register_name = document.getElementById("register_name").value;
        const register_email = document.getElementById("register_email").value;
        const register_username =
            document.getElementById("register_username").value;
        const register_password =
            document.getElementById("register_password").value;
        const register_repassword = document.getElementById(
            "register_repassword"
        ).value;

        const formData = {
            fullName: register_name,
            userName: register_username,
            email: register_email,
            password: register_password,
        };
        console.log(formData);

        try {
            if (register_password === register_repassword) {
                const response = await fetch("/users/register", {
                    method: "POST",
                    headers: {"Content-Type": "application/json"},
                    body: JSON.stringify(formData),
                });
            } else {
                console.log("Password not matching");
            }
        } catch (error) {
            console.log(error);
        } finally {
            clearInputForm();
        }

    });

    const loginBtn = document.getElementById("loginBtn");
    loginBtn.addEventListener("click", async (e) => {
        e.preventDefault();
        const loginUsername = document.getElementById("login_username").value;
        const loginPassword = document.getElementById("login_password").value;

        const loginData = {
            userName: loginUsername,
            password: loginPassword,
        };

        try {
            const response = await fetch("/users/login", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(loginData),
            });
            if (response.status === 200) {
                window.location = "/admin";
            } else {
                console.log("wrong data");
            }

        } catch (error) {
            console.log(error);
        }
    });

    function clearInputForm(){
        // Get the first form with the name
        let form = document.getElementById("register-form");
        form.reset();
        return false; // Prevent page refresh
    }
</script>


<%- include('./partials/footer.ejs'); %>
