.nav-item {
    /*padding: 1rem;*/
    /*background-color: pink;*/
}

.bodyStyle {
    height: 100%;
}

.blockquote-paragraph {
    padding-top: 4rem;
}

.cardStyle {
    display: flex;
}

.card {
    margin-left: 2rem
}

#aboutContainer {
    /*background-color: pink;*/
    /*height: 60vh;*/
    /*width: 100vw;*/
}

.aboutSectionStyle {
    height: 60vh;
}

.blockquote {
    font-size: 2rem;
    padding-top: 2rem;
}

.card-home {
    width: 14rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

#login-section-style {
    margin-top: 2rem;
    height: 80vh;
}


#forum-section-style {
    background-color: #EEEDE7;
    margin-bottom: 2rem;
    padding: 2rem;
}